@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, system-ui, sans-serif;
  background: #0f172a;
  color: white;
}

a {
  text-decoration: none;
}

.glass {
  backdrop-filter: blur(14px);
  background: rgba(15, 23, 42, 0.75);
}

.btn-primary {
  background: #dc2626;
  color: white;
  padding: 14px 28px;
  border-radius: 12px;
  font-weight: 600;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #b91c1c;
}

.btn-secondary {
  border: 1px solid white;
  color: white;
  padding: 14px 28px;
  border-radius: 12px;
  font-weight: 600;
  transition: 0.3s;
}

.btn-secondary:hover {
  background: white;
  color: black;
}